 $defaultColor:#003A40;
 $menuColor:#000000A6;
 $menuactiveColor:#D6B182;
 $paraColor:#9F9F9F;
 $secodaryColor:#202020;
 $grayColor:#666666;
 $arrowColor:#979797;
 $para2:#575757;
 $transparent-bg:transparent;
 $white:#fff;
 $black:#000;
 $formSubheadColor:#252525;
 $formButtonborder:#D8D8D8;
 $formButtoncolor:#D8D8D8;
 $formButtonbg:#EBEBEB;
 $formSubheadLabelColor:#848484;
 $formtextboxactive:#FF4470; 
 $formtextboxfocust:#D6B182;