@mixin shadow($shadow:none){
outline: $shadow;
box-shadow: $shadow;
border: 2px solid #d8d8d8;
background: $white;
height: 38px;
border-radius: 0;
&:hover{
  border-color: $formtextboxactive;
}
&:focus{
  border-color: $formtextboxactive;
}
}
textarea, .form-control,
input{
@include shadow(none);
}