@mixin shadow($shadow: none) {
	outline: $shadow !important;
	box-shadow: $shadow  !important;
	border: 1.5px solid $formButtonborder;
	background: $white;
	// height: 38px;
	border-radius: 0;
	// &:hover {
	// 	border-color: $formtextboxactive;
	// }
	// &:focus {
	// 	border-color: $formtextboxactive;
	// }
}
textarea,
.form-control,
input{
	@include shadow(none);
  &:hover, &:focus{
    border-color: $formButtonborder;
  }
}
@mixin bottomborder($shadow: none) {
  background: transparent;
	border: none;
	border-bottom: 1px solid #d8d8d8;
	height: 38px;
	border-radius: 0;
  color: #fff;
	&:hover {
		border-color: $formtextboxactive;
	}
	&:focus {
		border-color: $formtextboxactive;
	}
}
.form-label{
  font-size: 16px;
  font-family: $font-jost-semibold;
  color: $formSubheadColor;
  // padding-left: 30px;
}
.form-title{
  font-size: 16px;
  font-family: $font-jost-semibold;
  color: $formSubheadColor;
  margin-bottom: 0;
}
.sub-title{
  font-size: 14px;
  font-family: $font-jost-regular;
  color: $formSubheadLabelColor;
a{
  color: $formSubheadLabelColor;
}
}
